---
export interface HeroProps {
  title: string;
  description: string;
  ctaLink: string;
  demoLink: string;
  features: { title: string; description: string }[];
  imageUrl: string;
  logos: { alt: string; src: string }[];
}

const { title, description, ctaLink, demoLink, features, imageUrl, logos } = Astro.props;
---

<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="text-center max-w-4xl mx-auto">
      <p class="text-4xl tracking-tight font-semibold md:text-5xl font-display mt-8">
        {title}
      </p>
      <p class="lg:text-xl max-w-2xl mt-4 mx-auto text-base">
        {description}
      </p>
    </div>
    <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
      <a
        class="items-center no-underline justify-center border-gray-200 h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 lg:w-auto px-6 py-3 text-center w-full border"
        href={ctaLink}>View Pricing</a>
      <a
        class="items-center no-underline justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex border-2 border-black duration-200 focus-visible:ring-black lg:w-auto px-6 py-3 text-center w-full"
        href={demoLink}>Get Started &nbsp; &rarr;</a>
    </div>
    <dl class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
      {features.map((feature: { title: string; description: string; }) => (
        <div>
          <strong>{feature.title}</strong> ━ {feature.description}
        </div>
      ))}
    </dl>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-gray-100 p-8 rounded-3xl">
        <img
          alt="Spoke Dashboard"
          class="relative w-full border border-gray-200 lg:rounded-2xl object-cover rounded shadow-2xl"
          src={imageUrl}
        />
      </div>
    </div>
    <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
      {logos.map((logo: { alt: string; src: string }) => (
        <div class="flex justify-center col-span-1">
          <img alt={logo.alt} class="h-8" src={logo.src} />
        </div>
      ))}
    </div>
  </div>
</section>
