---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Writing Scripts</h2>

			<p>
				Your texting scripts should be clear, concise, and
				conversational. Generally speaking, you should aim to present
				all the information your contacts need to know in as few words
				as possible, while still using language that sounds natural.
				Your scripts should sound like they're coming from real people –
				because they are! You should always
				<strong>include opt out language</strong> like <strong
					>stop=quit</strong
				> and if you're sending a link, please consult our article on <a
					href="https://docs.spokerewired.com/article/70-short-link-domains"
					>short links</a
				> to ensure deliverability.&nbsp;
			</p><h2>Initial Messages</h2><p>
				Initial messages typically follow a three-part structure:
				introduction, argument, and ask.
			</p><h4>Introduction</h4><p>
				The introduction is where you introduce both your organization
				and the individual texter to the contact. If you're texting for
				an electoral campaign, this is also where you would introduce
				the candidate, as well as the officer they're running for. Here
				are a couple of examples:
			</p><p>
				<em
					>"Hi {firstName}, it's {texterFirstName} with the Rebel Alliance."</em
				>
			</p><p>
				<em
					>"Hi {firstName}! My name is {texterFirstName} and I'm a volunteer
					with Baby Yoda, who is running for Co</em
				><em>ruscant</em><i style="background-color: initial;"
					>&nbsp;City Council."</i
				>
			</p><p>
				For
				<strong>second pass</strong> initial messages, you can leave out
				introducing the texter and your organization, since the message will
				appear immediate below the first pass in their thread, which already
				contains that information. Here are some examples second pass introductions:
			</p><p>
				<em
					>"Hi {firstName}, just wanted to make sure you saw our first
					message!"</em
				>
			</p><p>
				<em
					>"Hi {firstName}! Just checking in again to see if you
					can...</em
				>
			</p><h4>Argument&nbsp;</h4><p>
				The argument is where you make the case for why the contact
				should do the thing you're asking them to do. If you're inviting
				them to an event, you'll want to describe it in way that feels
				compelling and urgent. If you're asking them to support a
				candidate, you'll want to give an elevator pitch about what
				their campaign is all about, lifting up their core message
				and/or issues. Here are some example arguments, building off our
				introductions:
			</p><p>
				<em
					>"Hi {firstName}, it's {texterFirstName} with the Rebel Alliance.
					For decades, Imperial bankers and traders have made billions
					of credits, while ordinary workers have struggled to make ends
					meet. That's why we're organizing a galactic livestream on wealth
					and income inequality and what you can do to fight back this
					Friday, March 26th at 8pm CT."</em
				>
			</p><p>
				<em
					>"Hi {firstName}! My name is {texterFirstName} and I'm a volunteer
					with Baby Yoda, who is running for Co</em
				><em>ruscant</em><em
					>&nbsp;City Council. Baby Yoda has spent his entire career
					standing up to the Imperial elite and fighting for ordinary
					working people across the galaxy. He's running to make
					health care, housing, and education rights to all people, no
					matter what star system you're from."</em
				>
			</p><h4>Ask</h4><p>
				The ask is where you present a clear question to the contact.
				Your ask should correspond with the survey question in your
				Interactions script. Here are some example asks, building off
				our arguments:
			</p><p>
				<em
					>"Hi {firstName}, it's {texterFirstName} with the Rebel Alliance.
					For decades, Imperial bankers and traders have made billions,
					while ordinary workers have struggled to make ends meet. That's
					why we're organizing a galactic livestream on wealth and income
					inequality and what you can do to fight back this Friday, March
					26th at 8pm CT. Can you join us?"</em
				>
			</p><p>
				<em
					>"Hi {firstName}! My name is {texterFirstName} and I'm a volunteer
					with Baby Yoda, who is running for Co</em
				><em>ruscant</em><em
					>&nbsp;City Council. Baby Yoda has spent his entire career
					standing up to the Imperial elite and fighting for ordinary
					working people across the galaxy. He's running to make
					health care, housing, and education rights to all people, no
					matter what star system you're from. Can Baby Yoda count on
					your vote this November?"</em
				>
			</p><p>Here are some other common ways of making a clear ask:</p><p>
				<em>"Can you make it?"<br /></em><i
					style="background-color: initial;"
					>"Can you be there?"<br />
					"Can we count on your support?"
					<br />
				</i><i style="background-color: initial;"
					>"Will you volunteer?"</i
				>
			</p><h3>Survey Response Scripts</h3><p>
				Your survey response scripts should clearly and succinctly
				convey the information the contact needs, based on how they
				responded to the ask in your initial message. Response
				scripts&nbsp;should be written so that, in most cases, they can
				be sent with little to no editing. However, they should also be
				flexible enough so that they're easy to personalize when
				appropriate.
			</p><p>
				The survey scripts you create will depend on what your ask is
				and what kind of data you want to collect. Two of the most
				common script structures are a Yes/No/Maybe script and a Voter
				ID script.
			</p><h4>Yes/No/Maybe Script</h4><p>
				This is the script structure you'll use for any ask that's posed
				as a Yes/No question, such as an event recruitment or volunteer
				recruitment campaign. He's an example:
			</p><p>
				<strong>YES they will attend the event</strong><br />
				<em
					>"Great! To join the virtual event, please register here: <a
						href="http://www.notarealwebsite.com"
						>www.notarealwebsite.com</a
					> You'll then get emailed a link to join the livestream. Looking
					forward to it!"</em
				>
			</p><p>
				<strong>NO they will not attend the event</strong><br />
				<em>"I understand, thanks for letting me know!"</em>
			</p><p>
				<strong>MAYBE they will attend the event</strong><br />
				<strong></strong><em>"OK! If you're able to make it,&nbsp;</em
				><em style="background-color: initial;"
					>please register here: <a
						href="http://www.notarealwebsite.com/"
						>www.notarealwebsite.com</a
					> You'll then get emailed a link to join the livestream. Hope
					you can make it!"</em
				>
			</p><h4>Vote ID Scripts</h4><p>
				This is the script you'll use when trying to asses voters' level
				of support for a candidate, or possibly, their level of support
				for an issue, ballot measure, or union. Typically, voter ID
				scripts use a 1-5 scale to measure support. Here's an example:
			</p><p>
				<strong
					>1 - They will DEFINITELY support the candidate&nbsp;</strong
				><br />
				<em>"</em><em
					>Amazing! Thanks so much for your support. It's going to
					take all of us to win this election. Will you volunteer with
					our people-powered campaign?"</em
				>
			</p><p>
				<strong
					>2 - They will LIKELY support the candidate&nbsp;<br />
				</strong><em
					>"That's great to hear! It's going to take all of us to win
					this election. Will you volunteer with our people-powered
					campaign?"</em
				>
			</p><p>
				<strong>3 - They MAYBE will support the candidate</strong><br />
				"
				<em
					>OK! Please let me know if you have any questions I can
					answer. Have a good day!"</em
				>
			</p><p>
				<strong
					>4 - They will LIKELY NOT support the candidate<br />
				</strong><em
					>"I understand, thanks for letting me know. Take good care!"</em
				>
			</p><p>
				<strong
					>5 - They will DEFINITELY NOT support the candidate</strong
				><br />
				<em>"I understand. Have a good rest of your day!"</em>
			</p><h4>Generic Survey Scripts</h4><p>
				In addition to the survey scripts that are designed to respond
				to replies to your initial message, you'll also want to include
				some generic scripts for common replies that don't have anything
				to do with your specific ask. Typically, these generic survey
				scripts can be applied across all&nbsp;of your campaigns,
				sometimes with slight variations. Here are some examples:
			</p><p>
				<strong>Wrong Number</strong><br />
				<em>"</em><em
					>Sorry about that! I've just made a note to update our
					records. Take good care!"</em
				>
			</p><p>
				<strong>Refused/Angry</strong><br />
				<em>"</em><em>I understand. Have a good rest of your day!"</em>
			</p><p>
				<strong>Moved</strong><br />
				<em>"</em><em>Got it, thanks for letting me know!"</em>
			</p><hr /><p>
				Ultimately, there are as many possible scripts as there are
				campaigns! If you'd like support crafting a campaign script,
				please reach out at
				<strong>support@spokerewired.com</strong>
			</p>
		</div>
	</main>
</Layout>
